body {font-size: 2vw; font-family: Arial, Helvetica, sans-serif;}
#greenBackground	{position: fixed; left: 0vw; top: 0vw; width: 100vw; height: 10.6vw; background-color: green; z-index: 0}
svg 							{position: fixed; left: 0vw; top: 0vw; width: 100vw; height: 10vw; 	stroke: black; stroke-width: 1; z-index: 0}
.white 						{fill: white;}
.black 						{fill: black; stroke-width:0;}

/* Control Box */
#controlBox 			{position: fixed; left: 0vw; 	top: 10.6vw; width: 35vw; height: 7.3vw; border: 1px solid black; background-color: #dfe;}
#stopChant 				{position: absolute; left: 1vw; 	top: 2.2vw; width:8vw; font-size: 2vw;}
#playChant 				{position: absolute; left: 10vw; top: 2.2vw; width:8vw; font-size: 2vw;}

.buttons:hover 		{background-color: #bbf}
.buttons:active		{background-color: #88f}

#medley 	 				{position: absolute; left: 19.5vw; top: 1.6vw; font-size: 1.6vw;}
#repeat 	 				{position: absolute; left: 25.5vw; top: 1.6vw; font-size: 1.6vw;}
#medleySlider			{position: absolute; left: 20vw; top: 2.2vw; width: 0px}
#repeatSlider			{position: absolute; left: 26vw; top: 2.2vw; width: 0px}

#upArrow	 				{position: absolute; left: 31.7vw; top: .2vw; width: 3vw; height: 6vw; fill: #ccc}
#downArrow 				{position: absolute; left: 31.7vw; top: 4.0vw; width: 3vw; height: 6vw; fill: #ccc}
/* #upArrow:hover 		{fill: #bbf} */
/* #upArrow:active		{fill: #88f} */
/* #downArrow:hover 	{fill: #bbf} */
/* #downArrow:active	{fill: #88f} */

/* Display Box */
#displayBox	{position: fixed; left: 37vw; top: 10.6vw; width: 57vw; height: 7.3vw; border: 1px solid #000; background-color: #fff; font-size: 1.6vw; border-top: none; z-index: -1} 
#trebleClef	{position: absolute; left: 0vw;  top: -1.7vw; width: 9vw; background-color: white; font-size: inherit;}
#musicStaff					{position: absolute; left: .7vw; top: 1.29vw; width: 8vw; height: 5.2vw;}
#trebleClefGraphic	{position: absolute; left: 1.2vw; top:-.4vw; font-size: 5vw}

#nameOfKeySignature {position: absolute; left: 9vw; top: 0.8vw;}
#keySignature 			{position: absolute; left: 16.0vw; top: 0.8vw;}
#songTime 					{position: absolute; left: 35.2vw; top: 0.8vw;}

.customSlider				{width: 11.15vw; height: .5vw; margin: .1vw; border: 1px solid #bbb; border-radius: 1vw; background: #eee}
#customSlider1			{position: absolute; left: 15vw; top: 3.8vw;}
#customSlider2			{position: absolute; left: 29vw; top: 3.8vw;}
.thumb  						{position: relative; left: 5vw; top: -.5vw; width: 1.5vw;  height: 1.5vw; border-radius: 1vw; background: #27f;}
.thumb1  						{position: relative; left: 5vw; top: -.5vw; width: 1.5vw;  height: 1.5vw; border-radius: 1vw; background: #27f;}
#volumeLabel				{position: absolute; left: 19.2vw; top: 5.3vw; font-size: 1.3vw;}
#tempoLabel					{position: absolute; left: 33.2vw; top: 5.3vw; font-size: 1.3vw;}

#metronomeLeft			{position: absolute; left: 50vw; top: 4.3vw; width: 1.93vw; height: 1.93vw; fill: white;}
#metronomeRight			{position: absolute; left: 54vw; top: 4.3vw; width: 1.93vw; height: 1.93vw; fill: white;}

#songTitle 					{position: fixed; left: 1.5vw;  top: 19vw; font-size: 2.4vw; color: #008;} 

#scaleDown 					{position: fixed; left: 64.7vw;  top: 18.3vw; font-size: 2.5vw; color: #000;} 
#scaleChangerLabel1	{position: fixed; left: 68.3vw;  top: 18.0vw; font-size: 1.4vw; color: #000;} 
#scaleChangerLabel2	{position: fixed; left: 69.3vw;  top: 19.2vw; font-size: 1.2vw; color: #000;} 
#keyName 						{position: fixed; left: 70.5vw;  top: 20.3vw; font-size: 1.5vw; color: #000;} 
#scaleUp	 					{position: fixed; left: 77.8vw;  top: 18.3vw; font-size: 2.5vw; color: #000;} 

#moreInfo 					{position: fixed; left: 85.1vw;  top: 18.7vw; font-size: 1.8vw; color: #000; background-color: #aec;} 

/* Display of words and notes*/
#display	{position: fixed; left:0vw; right:32vw; top:22vw; bottom:0vh; font-size:1.8vw; background-color:#eef; border:1px solid #000; overflow:auto;}

/* Chant List */
#chantList {position: fixed; left: 68vw; right: 0vw; top: 22vw; bottom: 0vh; color: blue; font-size: 1.5vw; border: 1px solid black; padding: .5vw .5vw 1vw 1vw; background-color: #fff2f2; overflow: auto;}
#orderAsInCC 				{position: fixed; left: 74vw; top: 22.5vw; font-size: 1vw;}
#orderAlphabetical 	{position: fixed; left: 84vw; top: 22.5vw; font-size: 1vw;}
/*#chantList	{position: fixed; left: 68vw; right: 0vw; top: 24.3vw; bottom: 0vh; background-color: #fff2f2; padding: .5vw .5vw 1vw 1vw; overflow: auto;}*/
.chants 		   {background-color: white;}
.chants:hover  {cursor: pointer;}
/* .chants:hover  {background-color: rgb(220,220,255); cursor: pointer;} */
/* .chants:active {background-color: rgb(120,120,255)} */
/* .new {background-color:lightgrey} */

/* Medley Switch */
.switch {position: absolute; left: 20vw; top: 3.4vw; width: 3.9vw; height: 1.86vw; display: inline-block; }
.slider {position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; cursor: default;}
.slider:before {position: absolute; height: 1.25vw; width: 1.25vw; left: .31vw; bottom: .31vw; background-color: white; content: "";
 -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(2.03vw); -ms-transform: translateX(2.03vw); transform: translateX(2.03vw);}
.slider.round {border-radius: 2.66vw;}
.slider.round:before {border-radius: 50%;}
.switch:hover 	{background-color: rgb(120,120,255)}

/* Repeat Switch */
.switch2 {position: absolute; left: 26vw; top: 3.4vw; width: 3.9vw; height: 1.86vw; display: inline-block;}
.slider2 {position: absolute; cursor: default; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s;transition: .4s;}
.slider2:before {position: absolute; left: .31vw; bottom: .31vw; width: 1.25vw; height: 1.25vw; background-color: white; content: "";         -webkit-transition: .4s; transition: .4s;}
input:checked + .slider2 {background-color: #2196F3;}
input:checked + .slider2:before {-webkit-transform: translateX(2.03vw); -ms-transform: translateX(2.03vw); transform: translateX(2.03vw);}
.slider2.round2 {border-radius: 2.66vw;}
.slider2.round2:before {border-radius: 50%;}
.switch2:hover 	{background-color: rgb(120,120,255)}

/* Tooltip on Medley */
#tooltipMedley {display: none; font-size: 1.1vw; background-color: #ffc; color: #555;	text-align: center;
	border: 1px solid #aaa; border-radius: 1vw; padding: .5vw 0; width: 8vw; z-index: 1}

/* Tooltip on Repeat */
#tooltipRepeat {display: none; font-size: 1.1vw; background-color: #ffc; color: #555;	text-align: center;
	border: 1px solid #aaa; border-radius: 1vw; padding: .5vw 0; width: 8vw; z-index: 1}

/* Tooltip on UpArrow */
#tooltipUpArrow {display: none; font-size: 1.1vw; background-color: #ffc; color: #555; text-align: center;
	border: 1px solid #aaa; border-radius: 1vw; padding: 5px 0; width: 8vw;}

/* Tooltip on DownArrow */
#tooltipDownArrow {display: none; font-size: 1.1vw; background-color: #ffc; color: #555; text-align: center;
	border: 1px solid #aaa; border-radius: 1vw; padding: 5px 0; width: 8vw;}

/* Tooltip on MoreInfo button */
#tooltipMoreInfo {display: none; font-size: 1.1vw; background-color: #ffc; color: #555; text-align: center;
	border: 1px solid #aaa; border-radius: 1vw; padding: .5vw 0; width: 12vw;}

/* Testing */
#test {position: fixed; left: 49vw; top: 18.2vw; font-size: 1.5vw; color: red; background-color: white;}
#test1 {position: fixed; left: 50vw; top: 20.0vw; font-size: 1.3vw; color: red; background-color: white;}
#test2 {position: fixed; left: 50vw; top: 21.5vw; font-size: 1.3vw; color: red; background-color: white;}
#test3 {position: fixed; left: 50vw; top: 23.0vw; font-size: 1.3vw; color: red; background-color: white;}
#test4 {position: fixed; left: 50vw; top: 24.5vw; font-size: 1.3vw; color: red; background-color: white;}
#test5 {position: fixed; left: 50vw; top: 26.0vw; font-size: 1.3vw; color: red; background-color: white;}
#test6 {position: fixed; left: 50vw; top: 27.5vw; font-size: 1.3vw; color: red; background-color: white;}
#test7 {position: fixed; left: 50vw; top: 29.0vw; font-size: 1.3vw; color: red; background-color: white;}
#test8 {position: fixed; left: 50vw; top: 30.5vw; font-size: 1.3vw; color: red; background-color: white;}
#test9 {position: fixed; left: 50vw; top: 32.0vw; font-size: 1.3vw; color: red; background-color: white;}
